<style>

#blogshead {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
}

</style>

<p><%= notice %></p>

<h1 id="blogshead">Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
