
<%= form_for([blog, Comment.new]) do |f| %>
    <div class="mb-3">
      <%= f.label :body, class: 'form-label' %>
      <%= f.text_area :body, class: 'form-control', rows: 3 %>
    </div>
    <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
  <% end %>
